<div class="col-sm-12 mt-2">
    <div class="row">
        <div class="mat-elevation-z0 col-md-12" style="margin:auto;">
        
            <div class="col-sm-12">
                <h3 class="header">
                    {{Resources.Header}}<button
                        *ngIf="isCreatable"
                        class="btn-add-item"
                        mat-icon-button color="warn"
                        matTooltip="{{ Resources.AddToolTip }}"
                        (click)="addCategory()">
                        <mat-icon>add</mat-icon>
                    </button>
                </h3>
            </div>
    
            <mat-form-field>
                <mat-label class="pl-4">Search</mat-label>
                <input class="pl-4" matInput (keyup)="applyFilter($event)" placeholder="Ex. Corona">
              </mat-form-field>
        
            <mat-table [dataSource]="dataSource" matSort>
          
              <div>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'class-10-percent'"> {{ Resources.TableHeaders.IdColumn }} </mat-header-cell>
                    <mat-cell *matCellDef="let row" [ngClass]="'class-10-percent'"> {{row.id}} </mat-cell>
                  </ng-container>
              </div>
          
              <div>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'class-60-percent'"> {{ Resources.TableHeaders.NameColumn }} </mat-header-cell>
                    <mat-cell *matCellDef="let row"[ngClass]="'class-60-percent'"> {{row.name}} </mat-cell>
                  </ng-container>
              </div>
          
              <div>
                <ng-container matColumnDef="isDeleted">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ Resources.TableHeaders.DeletedColumn }} </mat-header-cell>
                    <mat-cell *matCellDef="let row"> <span *ngIf="row.isDeleted">Deleted</span> </mat-cell>
                  </ng-container>
              </div>
          
              <div>
                <ng-container matColumnDef="action">
                    <mat-header-cell 
                        [hidden]="!(isEditable || isSoftDeletable || isUndoSoftDeletable || isDeletable)"
                        *matHeaderCellDef 
                        [ngClass]="'action-class'"> {{ Resources.TableHeaders.ActionColumn }} </mat-header-cell>
                    <mat-cell 
                        [hidden]="!(isEditable || isSoftDeletable || isUndoSoftDeletable || isDeletable)"
                        *matCellDef="let row" [ngClass]="'action-class'">
                        <button *ngIf="isEditable" mat-icon-button class="action-btn" matTooltip="{{Resources.EditCaption}}">
                            <mat-icon  (click)="editCategory(row.id)">create</mat-icon>
                        </button>
                        <button *ngIf="isSoftDeletable" mat-icon-button class="action-btn" matTooltip="{{Resources.SoftDeleteCaption}}">
                            <mat-icon (click)="softDeleteCategory(row.id)">delete</mat-icon>
                        </button>
                        <button *ngIf="isUndoSoftDeletable" mat-icon-button class="action-btn" matTooltip="{{Resources.UndoSoftDeleteCaption}}">
                            <mat-icon (click)="undoSoftDeleteCategory(row.id)">delete_sweep</mat-icon>
                        </button>
                        <button *ngIf="isDeletable" mat-icon-button class="action-btn" matTooltip="{{Resources.DeleteCaption}}">
                            <mat-icon (click)="deleteCategory(row.id)">delete_forever</mat-icon>
                        </button>
        
                    </mat-cell>
                  </ng-container>
              </div>
        
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row 
                *matRowDef="let row; columns: displayedColumns;" 
                (click)="selection.toggle(row)" 
                [ngClass]="{
                    'deleted': row.isDeleted, 
                    'hovered': row.hovered && row.isDeleted == false, 
                    'hovered-deleted': row.hovered && row.isDeleted == true
                }"
                (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
              </mat-row>
            </mat-table>
          
            <mat-paginator [pageSize]="10"></mat-paginator>
          </div>
    </div>
</div> 
