<div class="col-sm-12 pt-5 row">
        <div class="col-md-6">
            <div class="col-md-12"><h2 class="header">{{Resources.Header}}</h2></div>
        </div>
        <div class="col-md-5">
            <input #search (keyup)="searchSource(search.value);" type="search" class="form-control" placeholder="{{Resources.SearchPlaceholder}}">
        </div>
        <div class="col-md-1">
            <div 
                class="btn btn-primary" 
                data-toggle="tooltip" title="{{Resources.AddToolTip}}" 
                (click)="addSource()">
                <i style="font-size:60;" class="icon ion-md-add"></i> {{Resources.AddCaption}}
            </div>
            <!-- <button type="button" class="btn btn-primary" (click)="addSource()">Add Source</button> -->
        </div>
</div>

<div class="col-sm-12 pt-3">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-striped">
            <thead class="table-primary">
                <tr>
                    <th scope="col" class="text-center">{{Resources.TableHeaders.SlColumn}}</th>
                    <th scope="col">{{Resources.TableHeaders.NameColumn}}</th>
                    <th class="text-center">{{Resources.TableHeaders.ActionColumn}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let source of sources">
                    <td width="100" class="text-center">{{ source.id }}</td>
                    <td>{{ source.name }}</td>
                    <td width="250" class="text-center">
                        <button type="button" class="btn btn-info btn-sm mr-3" (click)="editSource(source.id)">{{Resources.EditCaption}}</button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteSource(source.id)">{{Resources.DeleteCaption}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
