<div class="col-sm-12 pt-5 row body-header">
    <div class="col-sm-6 col-lg-8">
        <div class="col-sm-12"><h2 class="header">{{Resources.Header}}
        <button
            class="btn-add-item"
            mat-mini-fab color="primary"
            matTooltip="{{ Resources.AddToolTip }}"
            (click)="addCategory()">
                 <mat-icon>add</mat-icon>
        </button>
        </h2>
        
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <input #search (keyup)="searchCategory(search.value);" type="search" class="form-control" placeholder="{{Resources.SearchPlaceholder}}">
        
    </div>
</div>

<div class="col-sm-12 pt-3">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-striped">
            <thead class="table-primary">
                <tr>
                    <th scope="col" class="text-center">{{Resources.TableHeaders.SlColumn}}</th>
                    <th scope="col">{{Resources.TableHeaders.NameColumn}}</th>
                    <th class="text-center">{{Resources.TableHeaders.ActionColumn}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories | async; let i = index">
                    <td width="100" class="text-center">{{ i+1 }}</td>
                    <td>{{ category.Name }}</td>
                    <td width="250" class="text-center">
                        <button mat-button color="primary" (click)="editCategory(category.Id)">{{Resources.EditCaption}}</button>
                        <button mat-button (click)="deleteCategory(category.Id)">{{Resources.DeleteCaption}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
