<div class="col-sm-12 pt-5 row body-header">
    <div class="col-md-6">
        <div class="col-md-12"><h2 class="header">{{Resources.Header}}</h2></div>
    </div>
    <div class="col-md-5">
        <input #search (keyup)="searchCategory(search.value);" type="search" class="form-control" placeholder="{{Resources.SearchPlaceholder}}">
    </div>
    <div class="col-md-1">
        <button
            class="btn-add-item"
            mat-raised-button color="primary"  
            (click)="addCategory()">
                 <mat-icon>add</mat-icon> {{Resources.AddCaption}}
        </button>
    </div>
</div>

<div class="col-sm-12 pt-3">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-striped">
            <thead class="table-primary">
                <tr>
                    <th scope="col" class="text-center">{{Resources.TableHeaders.SlColumn}}</th>
                    <th scope="col">{{Resources.TableHeaders.NameColumn}}</th>
                    <th class="text-center">{{Resources.TableHeaders.ActionColumn}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td width="100" class="text-center">{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td width="250" class="text-center">
                        <button mat-button color="primary" (click)="editCategory(category.id)">{{Resources.EditCaption}}</button>
                        <button mat-button (click)="deleteCategory(category.id)">{{Resources.DeleteCaption}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
