<div class="d-flex justify-content-center vw-100 mt-5">
    <div class="w-50">
        <form id="userForm" #userForm="ngForm" (ngSubmit)="onUserSubmit(userForm)">
            <mat-card>
                <legend class="scheduler-border mb-3">{{ mode }} {{ Resources.Header }}</legend>
                <mat-accordion multi="true">
                    <mat-expansion-panel expanded="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{ Resources.NamePanelCaption }}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <mat-form-field class="col-md-4">
                                <mat-label>{{Resources.FirstNameCaption}}</mat-label>
                                <input type="text"
                                    matInput
                                    #firstName="ngModel" name="firstName" [ngModel]="(userDetail$ | async)?.firstName" 
                                    placeholder="{{Resources.FirstNamePlaceholder}}" 
                                    (change)="onFirstNameChange($event)"
                                    required>

                                <mat-error *ngIf="!(firstName.valid || (firstName.pristine && !userForm.submitted))">
                                    {{Resources.Validation.FirstNameRequiredMessage}}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <mat-label>{{Resources.MiddleNameCaption}}</mat-label>
                                <input type="text"
                                    matInput
                                    #middleName="ngModel" name="middleName" [ngModel]="(userDetail$ | async)?.middleName" 
                                    placeholder="{{Resources.MiddleNamePlaceholder}}"
                                    (change)="onMiddleNameChange($event)">
                            </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <mat-label>{{Resources.LastNameCaption}}</mat-label>
                                <input type="text"
                                    matInput
                                    #lastName="ngModel" name="lastName" [ngModel]="(userDetail$ | async)?.lastName" 
                                    placeholder="{{Resources.LastNamePlaceholder}}"
                                    (change)="onLastNameChange($event)">
                            </mat-form-field>

                            <mat-form-field class="col-md-6">
                                <mat-label>{{Resources.EmailCaption}}</mat-label>
                                <input type="text"
                                    matInput
                                    #emailAddress="ngModel" name="emailAddress" [ngModel]="(userDetail$ | async)?.emailAddress" 
                                    placeholder="{{Resources.EmailPlaceholder}}"
                                    (change)="onEmailChange($event)">
                            </mat-form-field>

                            <mat-form-field class="col-md-6">
                                <mat-label>{{Resources.PhoneCaption}}</mat-label>
                                <input type="number"
                                    matInput
                                    #phoneNumber="ngModel" name="phoneNumber" [ngModel]="(userDetail$ | async)?.phoneNumber" 
                                    placeholder="{{Resources.PhonePlaceholder}}"
                                    (change)="onPhoneChange($event)">
                            </mat-form-field>

                            <mat-form-field class="col-md-6">
                                <mat-label>{{Resources.UserNameCaption}}</mat-label>
                                <input type="text" disabled
                                    matInput
                                    #userName="ngModel" name="userName" [ngModel]="(userDetail$ | async)?.userName" 
                                    placeholder="{{Resources.UserNamePlaceholder}}">
                            </mat-form-field>

                            <mat-form-field class="col-md-6">
                                <mat-label>{{Resources.PasswordCaption}}</mat-label>
                                <input type="password"
                                    matInput
                                    #password="ngModel" name="password" [ngModel]="(userDetail$ | async)?.password" 
                                    placeholder="{{Resources.PasswordPlaceholder}}"
                                    (change)="onPasswordChange($event)"
                                    required>

                                <mat-error *ngIf="!(password.valid || (password.pristine && !userForm.submitted))">
                                    {{Resources.Validation.PasswordRequiredMessage}}
                                </mat-error>
                            </mat-form-field>

                            <div class="form-group row mt-3">
                                <div class="col-md-12 text-right">
                                    <button type="submit" mat-raised-button class="btn-primary mr-2">{{Resources.SaveCaption}}</button>
                                    <button type="button" mat-raised-button class="btn-basic" (click)="onCancelClick()">{{Resources.CancelCaption}}</button>
                                </div>
                
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel expanded="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{ Resources.AdminPanelCaption }}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <section class="example-section">
                            <mat-checkbox name="isAdmin" 
                                [(ngModel)]="isAdmin" 
                                disabled
                                class="example-margin"
                                (change)="onIsAdminChange($event)">
                                    {{ Resources.IsAdminPlaceholder }}
                            </mat-checkbox>

                            <mat-checkbox name="isBlocked" 
                                [(ngModel)]="isBlocked" 
                                disabled
                                class="example-margin"
                                (change)="onIsBlockedChange($event)">
                                {{ Resources.IsBlockedCaption }}
                            </mat-checkbox>

                            <mat-checkbox name="isDeleted" 
                                [(ngModel)]="isDeleted" 
                                disabled
                                class="example-margin"
                                (change)="onIsDeletedChange($event)">
                                {{ Resources.IsDeletedCaption }}
                            </mat-checkbox>
                          </section>
                            
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{ Resources.RolePanelCaption }}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                          <section>
                              <div class="col-md-12 row pt-2" *ngFor="let useraccess of userAccesses; let i = index">
                                  <div class="col-md-2">{{ useraccess.entity }}</div>
                                  <div class="col-md-10">
                                      <span *ngFor="let access of useraccess.accesses; let j = index">
                                        <mat-checkbox name="{{access.name}}" 
                                            [(ngModel)]="access.hasAccess"
                                            disabled
                                            class="example-margin"
                                            (change)="onEntityAccessChange(useraccess.entity, access.access, $event)"
                                        >
                                            {{ access.access }}
                                        </mat-checkbox>
                                      </span>
                                  </div>
                              </div>
                          </section>
                            
                    </mat-expansion-panel>
                    
                </mat-accordion>
            </mat-card>
        </form>
    </div>
</div>
