<div class="col-sm-12 body-header">
   <div class="row">
    <div class="col-md-8">
    <form id="articleForm" #articleForm="ngForm" (ngSubmit)="onArticleSubmit(articleForm)" autocomplete="off">
        <mat-card>
            <legend class="scheduler-border mb-3">{{ mode }} {{Resources.Header}}</legend>
        <mat-accordion multi="true">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ Resources.PanelHeader.MetadataCaption }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
            
            <div>
                <mat-form-field  class="col-md-12">
                    <mat-label>{{Resources.AuthorCaption}}</mat-label>
                    <input type="text" matInput
                        #author="ngModel" name="author" [ngModel]="(articleDetail$ | async)?.articleAuthor" 
                        placeholder="{{Resources.AuthorPlaceholder}}"
                        (change)="onAuthorChange($event)">

                    <mat-error *ngIf="!author.valid || !(author.pristine && !articleForm.submitted)">
                        {{Resources.Validation.AuthorRequiredMessage}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <dropdown
                    [id]="'source'"
                    [name]="'source'"
                    [list]="sources$" 
                    [selected-id]="selectedSource$"
                    [select-caption]="selectSourceCaption"
                    [label]="Resources.SourceCaption"
                    (selection-change)="onSourceSelectionChange($event)"
                    ></dropdown>
            </div>

            <div>
                <dropdown
                    [id]="'category'"
                    [name]="'category'"
                    [list]="categories$" 
                    [selected-id]="selectedCategory$"
                    [select-caption]="selectCategoryCaption"
                    [label]="Resources.CategoryCaption"
                    (selection-change)="onCategorySelectionChange($event)"
                    ></dropdown>
            </div>

            <div>
                <chipset
                [label]="Resources.TagCaption"
                [selected-items]="selectedTags$"
                [list]="tags$" 
                (selection-change)="onTagSelectionChange($event)"
                ></chipset>
            </div>

            <div>
                <mat-form-field class="col-md-12">
                    <mat-label>{{Resources.UrlCaption}}</mat-label>
                    <input type="text" matInput
                        #url="ngModel" name="url" [ngModel]="(articleDetail$ | async)?.articleUrl" 
                        placeholder="{{Resources.UrlPlaceholder}}"
                        (change)="onUrlChange($event)">
                    <mat-error *ngIf="!(url.valid || (url.pristine && !articleForm.submitted))">
                        {{Resources.Validation.UrlRequiredMessage}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="col-md-12">
                    <mat-label>{{Resources.PublicationDateCaption}}</mat-label>
                    <input matInput [matDatepicker]="picker"
                        #pubdate="ngModel" name="pubdate" [ngModel]="(articleDetail$ | async)?.articlePublicationDate"
                        (dateChange)="onPublicationDateChange($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ Resources.PanelHeader.ImageCaption }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="image-div">
                    <div>
                        <span class="image-label">{{ Resources.ImageCaption }}</span>
                      </div>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input"
                            (change)="onFileSelected($event)">
                        <label class="custom-file-label">{{ (articleDetail$ | async)?.imageName }}</label>
                      </div>
                </div>  
            </mat-expansion-panel>
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ Resources.PanelHeader.ArticleCaption }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
            <div>
                <mat-form-field class="col-md-12">
                    <mat-label>{{Resources.TitleCaption}}</mat-label>
                    <input type="text" matInput
                        #title="ngModel" name="title" [ngModel]="(articleDetail$ | async)?.articleTitle" 
                        placeholder="{{Resources.TitlePlaceholder}}"
                        (change)="onTitleChange($event)">
                    <mat-error *ngIf="!title.valid || !(title.pristine && !articleForm.submitted)">
                        {{Resources.Validation.TitleRequiredMessage}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="col-md-12">
                    <mat-label>{{Resources.SummaryCaption}}</mat-label>
                    <textarea matInput
                        #summary="ngModel" name="summary" [ngModel]="(articleDetail$ | async)?.articleSummary" 
                        placeholder="{{Resources.SummaryPlaceholder}}"
                        (change)="onSummaryChange($event)"></textarea>
                    <mat-error *ngIf="!summary.valid || !(summary.pristine && !articleForm.submitted)">
                        {{Resources.Validation.SummaryRequiredMessage}}
                    </mat-error>
                </mat-form-field>
            </div>

            

            <div>
                <mat-form-field class="col-md-12">
                    <mat-label>{{Resources.ContentCaption}}</mat-label>
                    <textarea matInput
                        #content="ngModel" name="content" [ngModel]="(articleDetail$ | async)?.articleContent" 
                        placeholder="{{Resources.ContentPlaceholder}}"
                        (change)="onContentChange($event)">
                    </textarea>
                        <mat-error *ngIf="!content.valid || !(content.pristine && !articleForm.submitted)">
                            {{Resources.Validation.UrlRequiredMessage}}
                        </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="col-md-12">
                    <mat-label>{{Resources.SynopsisCaption}}</mat-label>
                    <textarea matInput matTextareaAutosize
                        #synopsis="ngModel" name="synopsis" [ngModel]="(articleDetail$ | async)?.articleSynopsis" 
                        placeholder="{{Resources.SynopsisPlaceholder}}"
                        (change)="onSynopsisChange($event)">
                    </textarea>
                </mat-form-field>
            </div>

        </mat-expansion-panel>
    </mat-accordion>

            <div class="form-group row mt-3">
                <div class="col-md-12 text-right">
                    <button mat-raised-button color="primary" class="mr-2">{{Resources.SaveCaption}}</button>
                    <button mat-raised-button (click)="onCancelClick()">{{Resources.CancelCaption}}</button>
                </div>

            </div>
        </mat-card>
    </form>
     </div>
        
    <div class="col-md-4 row">
        <article class="col-md-12 article">
            <article-card
            [article-data]="articleDetail$"></article-card>
        </article>
   </div>
</div>