<div class="d-flex justify-content-center vw-100 mt-5">
    <div class="w-50">
        <form id="tagForm" #tagForm="ngForm" (ngSubmit)="onTagSubmit(tagForm)">
            <mat-card>
             <legend class="scheduler-border">{{ mode }} {{Resources.Header}}</legend>
                <div class="m-3">
                    <mat-form-field class="w-100">

                        <mat-label>{{Resources.NameCaption}}</mat-label>

                        <input type="text"
                            matInput 
                            #Name="ngModel" name="Name" [ngModel]="(tagDetail$ | async)?.Name"
                            placeholder="{{Resources.NamePlaceholder}}"
                            required
                        >

                        <mat-error *ngIf="!(Name.valid || (Name.pristine && !tagForm.submitted))">
                            {{Resources.Validation.RequiredMessage}}
                        </mat-error>
                      </mat-form-field>
                </div>
    
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button mat-raised-button color="primary" class="mr-2">{{Resources.SaveCaption}}</button>
                        <button mat-raised-button (click)="onCancelClick()">{{Resources.CancelCaption}}</button>
                    </div>

                </div>
            </mat-card>
        </form>
    </div>
</div>
